*,
::after,
::before {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
body {
  background: #ffb703;
  color: white;
  z-index: -1;
}
.main-container {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  position: relative;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  float: left;
  width: 100%;
  height: 1rem;
  padding-top: 1rem;
}
#task-number {
  font-size: 0.8rem;
  color: white;
  font-size: 1.5rem;
}
.task-number-icon {
  padding: 0.4rem;
  height: 1rem;
  color: transparent;
}
.clear-btn {
  padding: 1rem;
  border: none;
  cursor: pointer;
  transition-duration: 0.4s;
  position: fixed;
  left: 1rem;
  bottom: 1rem;
  border-radius: 50%;
  z-index: 3;
  background: #ffb703;
  color: transparent;
}
.main-header-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 50%;
  margin-top: 18vh;
}
.main-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation-name: main-heading-animation;
  animation-duration: 4s;
}
@keyframes main-heading-animation {
  0% {
    color: royalblue;
    left: 0;
  }
  50% {
    color: tomato;
  }
  100% {
    color: white;
  }
}
.date-time {
  font-size: 0.8rem;
}
.form {
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.input {
  padding: 1rem;
  width: 100%;
  border: none;
  outline: none;
}
#add-button {
  border: none;
  background: #264653;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  padding: 1rem 1.4rem;
  transform: none;
  transition-duration: 0.4s;
}
#add-button:hover {
  background: #075277;
}
#add-button:focus {
  outline: none;
}
#delete-btn {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background: transparent;
  border: none;
  padding: 0.5rem 1rem;
  color: #dc143c;
  cursor: pointer;
  font-size: 1.5rem;
  transition-duration: 0.4s;
}
.del-fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
  transition: all 0.5s ease;
}
#check-btn {
  position: absolute;
  margin-left: auto;
  background: transparent;
  border: none;
  padding: 0.5rem 1rem;
  top: 0;
  bottom: 0;
  right: 2.6rem;
  color: #ffb703;
  cursor: pointer;
  font-size: 1.5rem;
  transition-duration: 0.4s;
}
.warning {
  color: red;
  font-style: italic;
}
.list-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 1rem;
}
.list-div {
  position: relative;
  background: white;
  color: black;
  border-left: 5px solid #023047;
  margin-bottom: 0.3rem;
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.list-div:hover {
  background: rgba(255, 255, 255, 0.6);
  transition-duration: 0.4s;
}
ul {
  list-style: none;
  font-family: "Nunito Sans", sans-serif;
}
.checked-list {
  text-decoration: line-through;
  color: rgb(110, 110, 110);
  background: #fb8500;
  transition: all 0.5s ease;
  box-shadow: none;
  border: none;
}
.empty {
  color: white;
  text-align: center;
  margin-top: 5rem;
}
.fade {
  opacity: 0;
  transition: all 0.1s ease;
}

@media (max-width: 900px) {
  .main-header-container {
    width: 70%;
  }
  .list-container {
    width: 70%;
  }
}
@media (max-width: 500px) {
  .main-header-container {
    width: 80%;
  }
  .list-container {
    width: 80%;
  }
}
@media (max-width: 450px) {
  .main-header-container {
    width: 90%;
  }
  .list-container {
    width: 90%;
  }
}
