*,
::after,
::before {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
.main-container {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
#header {
  width: 100vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right bottom, #00aaff, #00ff6c);
  padding-bottom: 2rem;
  margin-bottom: 1rem;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
}
#task-number {
  font-size: 0.8rem;
  color: #17a2b8;
  font-size: 1.5rem;
}
.clear-btn {
  padding: 1rem;
  background: #dc143c;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: white;
  border: none;
  cursor: pointer;
  transition-duration: 0.4s;
  position: fixed;
  left: 1rem;
  bottom: 1rem;
  border-radius: 50%;
  z-index: 3;
}
.clear-btn:hover {
  background: #b60326;
}
.main-header-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
}
.main-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation-name: main-heading-animation;
  animation-duration: 4s;
  color: white;
}
@keyframes main-heading-animation {
  0% {
    color: #ec9f05;
    left: 0;
  }
  50% {
    color: #ff4e00;
  }
  100% {
    color: #00aaff;
  }
}
.date-time {
  font-size: 0.8rem;
}
.form {
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.input {
  padding: 1rem;
  width: 100%;
  border: none;
  outline: none;
  opacity: 0.5;
}
#add-button {
  border: none;
  background: transparent;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  padding: 1rem 1.4rem;
  transform: none;
  transition-duration: 0.4s;
}
#add-button:hover {
  background: #04aa6d;
}
#add-button:focus {
  outline: none;
}
.list-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}
#delete-btn {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background: transparent;
  border: none;
  padding: 0.5rem 1rem;
  color: #dc143c;
  cursor: pointer;
  font-size: 1.5rem;
  transition-duration: 0.4s;
}
.del-fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
  transition: all 0.5s ease;
}
#check-btn {
  position: absolute;
  margin-left: auto;
  background: transparent;
  border: none;
  padding: 0.5rem 1rem;
  top: 0;
  bottom: 0;
  right: 2.6rem;
  color: #04aa6d;
  cursor: pointer;
  font-size: 1.5rem;
  transition-duration: 0.4s;
}
.warning {
  color: red;
  font-style: italic;
}
.list-div {
  position: relative;
  background: white;
  border-left: 5px solid #17a2b8;
  margin-bottom: 0.3rem;
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.list-div:hover {
  background: rgba(0, 0, 0, 0.1);
  transition-duration: 0.4s;
}
.list {
  z-index: 1;
}
ul {
  list-style: none;
  font-family: "Nunito Sans", sans-serif;
}
.checked-list {
  text-decoration: line-through;
  color: grey;
  background: rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
  box-shadow: none;
  border: none;
}
.empty {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-top: 5rem;
}
.fade {
  opacity: 0;
  transition: all 0.1s ease;
}

@media (max-width: 900px) {
  .main-header-container {
    width: 70%;
  }
  .list-container {
    width: 70%;
  }
}
@media (max-width: 500px) {
  .main-header-container {
    width: 80%;
  }
  .list-container {
    width: 80%;
  }
}
@media (max-width: 450px) {
  .main-header-container {
    width: 90%;
  }
  .list-container {
    width: 90%;
  }
}
