*,
::after,
::before {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  font-size: sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-height: auto;
  font-family: "nunito", sans-serif;
  background: linear-gradient(to bottom right, #fb7ba2, #fce043);
}
.card {
  display: grid;
  grid-template-columns: repeat(4, 90px);
  grid-template-rows: min-max(100px, auto) repeat(4, 500px);
  background: rgba(255, 255, 255, 0.5);
  min-height: 300px;
  padding: 1rem;
}
.header-container {
  grid-column-start: span 4;
  grid-row-start: span 2;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  border: none;
}
.form {
  display: flex;
  justify-content: space-between;
}
.input {
  padding: 0.7rem;
  width: 90%;
  border: none;
  outline: none;
}
#add-button {
  border: none;
  background: royalblue;
  color: white;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}
.delete-btn {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background: transparent;
  border: none;
  padding: 0.5rem 1rem;
  color: red;
}
.delete-btn:hover {
  color: rgb(255, 255, 255);
  background: rgba(253, 0, 0, 0.9);
  cursor: pointer;
}
.del-fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
  transition: all 0.5s ease;
}
.check-btn {
  position: absolute;
  margin-left: auto;
  background: transparent;
  border: none;
  padding: 0.5rem 1rem;
  top: 0;
  bottom: 0;
  right: 2.6rem;
  color: green;
}
.check-btn:hover {
  background: green;
  color: white;
  cursor: pointer;
}
.errMsg {
  color: red;
  margin-top: 1rem;
}
.list {
  grid-column-start: span 4;
  grid-row-start: span 2;
  padding: 0.5rem;
}
.header {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

#add-button:hover {
  background: rgb(91, 128, 236);
}
ul {
  list-style: none;
}
.list-container {
  position: relative;
  background: rgba(245, 245, 245, 0.7);
  border-left: 5px solid royalblue;
  margin-bottom: 0.3rem;
  padding: 0.5rem;
}
.list-container:hover {
  background: rgba(245, 245, 245, 0.9);
}
.list-class {
  width: 68%;
}
p {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
